.post{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
  }
  .post:hover{
    transform: scale(1.02);
  }
  
  .post img{
    max-width: 100%;
    padding: 15px;
  }
  .post-content{
    padding: 15px;
  
  }