.container-button{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}
.container-button button{
    padding: 10px;
    background: #597ae6;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-button button:disabled{
    background: #eee;
    cursor: no-drop;
}